<html>

<head>
    <title>API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    </script>
   
</head>

<body ng-app="formapify" ng-controller="APIController">
    <h1>FormAPIfy Demo</h1>

    <addformbutton></addformbutton>
    <div id="formContainer">
    		<div id="space-for-buttons"></div>
       
    </div>  

    <script>
      var addOpMeta = {
          name: 'Add',
          formHandler: 'add',
          opName: 'addOp',
          ip: [
              'a', 'b'
          ],
          op: ['c']
      };

      var formapify = angular.module('formapify', []);
      formapify.controller("APIController", function($scope) {
      	$scope.count = 0;
        $scope.i = [];

        $scope.reset = function(ii) {
            $scope.i[ii] = {
                a: '',
                b: '',
                c: ''
            };
        };
       //for overloaded function
        //input : i instance number
        $scope.add = function(ii) {
            console.log('inside add for instance :' + ii);
            var a = parseInt($scope.i[ii].a);
            var b = parseInt($scope.i[ii].b);

            console.log("a:" + a + "b:" + b);

            var c ;
            if($scope.i[ii].opName =='addOp'){
            	c = addOp(a, b);
          	}
            $scope.i[ii].c = c;

            console.log("c:" + c);
        };

        // Add given two inputs
        // Input: a, b two numbers/string
        // Ouput: (a+b) applies for both number, string

        function addOp(a, b) {
            return a + b;
        }
      });


			formapify.directive("addformbutton", function(){
				return {
					restrict: "E",
					template: "<button addforms>Click to add form</button>"
				}
			});


			//dynamic helping function which will generate  form dyanamically
			// Input: ii form instance index
			function generateFormTemplate(opMeta, ii) {
		    var iihuman = ii +1;
		    var tpl = '<form nonvalidate>' + '  <h3>' + opMeta.name + ' Operation instance ' + (iihuman) + '</h3>';
		    //Inputs
		    var inputs = opMeta.ip;
		    var arg;
		    for (var argi in inputs) {
		    		arg = inputs[argi];
		        tpl += '  <input type="text" ng-model="i[' + ii + '].' + arg + '" placeholder="' + arg + '"></input><br>'
		    }
		    // operation button
		    tpl += '<button ng-click="' + opMeta.formHandler + '(' + ii + ')">' 
		    	+ opMeta.name +'</button><br>';

		    //Outputs
		    var outputs = opMeta.op;
		    for (var argi in outputs) {
		    		arg = outputs[argi];
		        tpl += '  <input type="text" ng-model="i[' + ii + '].' + arg + '" placeholder="' + arg + '"></input><br>'
		    }

		    console.log("tpl:" + tpl);
		    return tpl;
			}

			formapify.directive("addforms", function($compile){
				return function(scope, element, attrs){
					element.bind("click", function(){
						scope.count++;
						var ii = scope.i.length;
						//add one more i
						scope.i.push({a:'', b:'', c:''});
						console.log(scope.i);

						angular.element(document.getElementById('space-for-buttons'))
							.append($compile(generateFormTemplate(addOpMeta, ii) )(scope));
					});
				};
			});

     	</script>
</body>

</html>
